html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.buttons {
    display: inline-block;x
}

#form {
    text-align: center;
    margin: 1%;
}

.form-group {
    width: 20%;
    margin: auto;
}

.form-control {
    text-align: center;
}

h1 {
    text-align: center;

    /* top, right/left, bottom */
    padding: 15px 0px 50px;
}
